* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 0;
  max-width: 1260px;
}

/*---------------mixin------------*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  width: 100%;
}

/* Page content */
.content {
  padding: 0;
}

@media only screen and (max-width: 1232px) {
  .top_nav {
    position: fixed;
    display: inline-block;
    z-index: 1;
    background-color: #fff;
    box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);
  }
  .top_nav .menu-trigger {
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  .top_nav .menu-trigger .menu-icon {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .top_nav .menu-trigger .menu-icon #trigger {
    border: none;
    background: transparent;
    outline: none;
  }
  .top_nav .menu-trigger .menu-icon #trigger a img:hover {
    cursor: pointer;
  }
  .top_nav .myLinks {
    display: none;
    width: max-content;
    position: relative;
  }
  .top_nav .myLinks .Links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_nav .myLinks .Links img {
    margin-right: 0.5rem;
  }
  .top_nav .myLinks .Links nav {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  .top_nav .myLinks .Links nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 16px;
    color: #181818;
  }
  .top_nav .myLinks .Links .menu-bar .btnTrigger {
    margin-bottom: 0.5rem;
  }
  .top_nav .myLinks .Links .menu-bar .btnTrigger button {
    background-color: #b61984;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 10px;
    transition: all 300ms ease-in-out;
  }
  .top_nav .myLinks .Links .menu-bar .btnTrigger button a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .top_nav .myLinks .Links .menu-bar .btnTrigger button a .btn_icon span {
    color: #fff;
    margin-right: 10px;
    font-size: 13px;
  }
  .top_nav .myLinks .Links .menu-bar .btnTrigger button a .btn_text {
    color: #fff;
    font-size: 13px;
  }
  .top_nav .myLinks .Links .menu-bar a {
    margin-left: 1.75rem;
  }
  .top_nav .myLinks .Links .menu-bar a span {
    font-size: 13px;
    font-weight: 16px;
    color: #181818;
  }
  #myHeader {
    display: none;
  }
}
@media only screen and (min-width: 1233px) {
  .top_nav {
    display: none;
  }
  #myHeader {
    display: block;
  }
}
section.top {
  background: url(../../img/yellow_top_wave_01.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
section.top .top_wrapper #myHeader .header {
  max-width: 1260px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100px;
}
section.top .top_wrapper #myHeader .header .logo a img {
  margin-top: 0;
  width: 100px;
  height: 100px;
}
section.top .top_wrapper #myHeader .header nav {
  margin-left: 170px;
}
section.top .top_wrapper #myHeader .header nav a {
  text-decoration: none;
  line-height: 80px;
  margin-right: 50px;
}
section.top .top_wrapper #myHeader .header nav a span {
  font-size: 13px;
  font-weight: 700;
  color: #181818;
}
section.top .top_wrapper #myHeader .header nav a:hover span {
  color: #b61984;
}
section.top .top_wrapper #myHeader .header .contact_channel {
  margin-left: 50px;
  margin-right: 0;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner {
  display: flex;
  align-items: center;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button {
  background-color: #b61984;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
  transition: all 300ms ease-in-out;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button a .btn_icon span {
  color: #fff;
  margin-right: 10px;
  font-size: 13px;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button a .btn_text {
  color: #fff;
  font-size: 13px;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button:hover {
  background-color: #fff;
  border: 1px solid #b61984;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner button:hover a span {
  color: #b61984;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner a {
  margin-left: 10px;
  color: #181818;
}
section.top .top_wrapper #myHeader .header .contact_channel .contact_inner a:hover span {
  color: #b61984;
}
section.top .top_wrapper .about {
  background-color: transparent;
  background-image: url(../img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
  padding-bottom: 60px;
}
section.top .top_wrapper .about .about_inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.top .top_wrapper .about .about_inner .about_left .first_title {
  font-size: 18px;
  font-weight: 700;
  color: #b61984;
}
section.top .top_wrapper .about .about_inner .about_left .second_title {
  font-size: 60px;
  font-weight: 700;
  color: #181818;
  margin-top: 1rem;
}
section.top .top_wrapper .about .about_inner .about_right img {
  width: 100%;
}

section.human {
  background: #dcd1f0;
  padding: 50px 0 100px 0;
  background-image: url(../img/Wave_White_bottom_right_shape_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  padding-bottom: 20px;
}
section.human .container .human_content .row {
  margin-bottom: 30px;
}
section.human .container .human_content .row .item-1 {
  animation: fadeIn 2s;
  transition: all 1s ease;
}
section.human .container .human_content .row .item-2 {
  animation: fadeIn 4s;
  transition: all 1s ease;
}
section.human .container .human_content .row .item-3 {
  animation: fadeIn 6s;
  transition: all 1s ease;
}
section.human .container .human_content .row .item-4 {
  animation: fadeIn 8s;
  transition: all 1s ease;
}
section.human .container .human_content .row .teacher .card {
  background-color: transparent;
  border: none;
}
section.human .container .human_content .row .teacher .card .card_top {
  border-radius: 10px 10px 0 0;
}
section.human .container .human_content .row .teacher .card .card_top img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: transform 0.5s ease;
  display: block;
  cursor: pointer;
}
section.human .container .human_content .row .teacher .card .card_top img:hover {
  transform: scale(1.1);
}
section.human .container .human_content .row .teacher .card .card_top.zoom {
  position: relative;
  overflow: hidden;
}
section.human .container .human_content .row .teacher .card .card_bottom {
  background-color: #fff;
  border: none;
  border-radius: 0 0 10px 10px;
  padding: 15px 15px;
  text-align: center;
}
section.human .container .human_content .row .teacher .card .card_bottom span {
  font-size: 11.25px;
  font-weight: 700;
  color: #b61984;
}
section.human .container .human_content .row .teacher .card .card_bottom h3 {
  font-size: 23.25px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 15px;
}
section.human .container .human_content .row .teacher .card .card_bottom p {
  font-size: 15px;
  font-weight: 16px;
  color: #181818;
}
section.human .container .human_content .row .teacher .card:hover {
  box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
  -webkit-box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
  -moz-box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
  transition: all 0.3s ease-in;
}

section.submit {
  background: url(../img/accent_bottom_wave_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
section.submit .container {
  position: relative;
}
section.submit .container .submit_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section.submit .container .submit_content .submit_left img {
  width: 100%;
}
section.submit .container .submit_content .submit_right .form {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);
  -webkit-box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);
  -moz-box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);
}
section.submit .container .submit_content .submit_right .form .form_title span {
  font-size: 50px;
  font-weight: 700;
  color: #181818;
  display: block;
  text-align: center;
}
section.submit .container .submit_content .submit_right .form .form_input {
  padding: 15px 0 15px 0;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .name .btn_name {
  max-width: 97%;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 15px 15px;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .name .btn_name span {
  color: #b61984;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .name .btn_name input {
  margin-left: 5px;
  border: none;
  width: 100%;
  padding-right: 5px;
  outline: none;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .email .btn_email {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 15px 15px;
  max-width: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .email .btn_email span {
  color: #b61984;
}
section.submit .container .submit_content .submit_right .form .form_input .contact_row .email .btn_email input {
  margin-left: 5px;
  border: none;
  width: 100%;
  outline: none;
}
section.submit .container .submit_content .submit_right .form .form_input .option {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
section.submit .container .submit_content .submit_right .form .form_input .option span.fa-solid {
  width: 5%;
  color: #b61984;
}
section.submit .container .submit_content .submit_right .form .form_input .option span.course {
  width: 95%;
}
section.submit .container .submit_content .submit_right .form .form_input .option span.course select {
  margin-left: 5px;
  border: none;
  outline: none;
  width: 100%;
}
section.submit .container .submit_content .submit_right .form .form_input .option span.course select option {
  outline: none;
}
section.submit .container .submit_content .submit_right .form .form_input .message .contact_message {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
section.submit .container .submit_content .submit_right .form .form_input .message .contact_message span {
  color: #b61984;
  width: 5%;
  margin-bottom: 14rem;
}
section.submit .container .submit_content .submit_right .form .form_input .message .contact_message .text textarea {
  outline: none;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px;
}
section.submit .container .submit_content .submit_right .form .btn_contact {
  max-width: 100% !important;
}
section.submit .container .submit_content .submit_right .form .btn_contact button {
  font-size: 16px;
  font-weight: 16px;
  color: #fff;
  background: #b61984;
  padding: 10px 50px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
section.submit .container .submit_content .submit_right .form .btn_contact button:hover {
  background-color: #fff;
  color: #b61984;
}
section.submit .container .submit_content .submit_right .form .btn_contact button:hover {
  border: 1px solid #b61984;
  transition: all 300ms ease-in-out;
}

section.contact {
  background: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10rem;
}
section.contact .container {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
section.contact .container .contact_content .info-1 {
  animation: fadeIn 1s;
  transition: all 1s ease;
}
section.contact .container .contact_content .info-2 {
  animation: fadeIn 2s;
  transition: all 1s ease;
}
section.contact .container .contact_content .info-3 {
  animation: fadeIn 3s;
  transition: all 1s ease;
}
section.contact .container .contact_content .info-4 {
  animation: fadeIn 4s;
  transition: all 1s ease;
}
section.contact .container .contact_content .info-1 p.menu-title {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
}
section.contact .container .contact_content .info-1 .icon-text {
  margin-bottom: 0.25rem;
}
section.contact .container .contact_content .info-1 .icon-text span {
  color: #fff;
}
section.contact .container .contact_content .info-1 .icon-text span.info {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
section.contact .container .contact_content .info-1 .icon-media {
  margin-top: 1rem;
}
section.contact .container .contact_content .info-1 .icon-media span {
  color: #fff;
  margin-right: 0.5rem;
}
section.contact .container .contact_content .info-2 p.menu-title {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
}
section.contact .container .contact_content .info-2 ul.menu-list {
  text-decoration: none;
  list-style: none;
}
section.contact .container .contact_content .info-2 ul.menu-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 2;
}
section.contact .container .contact_content .info-2 ul.menu-list li a {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
section.contact .container .contact_content .info-3 p.menu-title {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
}
section.contact .container .contact_content .info-3 ul.menu-list {
  text-decoration: none;
  list-style: none;
}
section.contact .container .contact_content .info-3 ul.menu-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 2;
}
section.contact .container .contact_content .info-3 ul.menu-list li a {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
section.contact .container .contact_content .info-4 p.menu-title {
  font-size: 1.55rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}
section.contact .container .contact_content .info-4 .form-contact .email-btn {
  margin-bottom: 1rem;
}
section.contact .container .contact_content .info-4 .form-contact .email-btn span input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px 50px;
  text-align: center;
  outline: none;
  color: #fff;
}
section.contact .container .contact_content .info-4 .form-contact .email-btn span input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
section.contact .container .contact_content .info-4 .form-contact .subscribe-btn input {
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 60px;
  text-align: center;
  outline: none;
  font-size: 16px;
  font-weight: 16px;
  color: #181818;
}