@import './base/base';
@import './themes/variable';

//nesting css
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-c1-light;
    z-index: 99;
    width: 100%;
}

/* Page content */
.content {
    padding: 0;
}

@media only screen and (max-width:1232px) {
    .top_nav {
        position: fixed;
        display: inline-block;
        z-index: 1;
        background-color: $bg-c1-light;
        box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);
        -webkit-box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: -2px 10px 54px -11px rgba(0, 0, 0, 0.28);

        .menu-trigger {
            display: flex;
            align-items: center;
            background-color: $bg-c1-light;

            .menu-icon {
                margin-right: 1rem;
                margin-left: 1rem;

                #trigger {
                    border: none;
                    background: transparent;
                    outline: none;

                    a {
                        img {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

            }

            .page-icon {
                img {}
            }
        }

        .myLinks {
            display: none;
            width: max-content;
            position: relative;

            .Links {
                display: flex;
                flex-direction: column;
                align-items: center;

                // box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
                // -webkit-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);
                // -moz-box-shadow: 10px 10px 17px 0px rgba(0, 0, 0, 0.16);

                img {
                    margin-right: 0.5rem;
                }

                nav {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    display: flex;
                    flex-direction: column;

                    a {
                        text-decoration: none;
                        @include text ($text-xl, $text-base, $text-c1-dark);
                    }
                }

                .menu-bar {
                    .btnTrigger {
                        margin-bottom: 0.5rem;

                        button {
                            background-color: $bg-c1-primary;
                            padding: 10px 25px;
                            border: none;
                            border-radius: 30px;
                            cursor: pointer;
                            font-weight: $text-semibold;
                            margin-right: 10px;
                            transition: all 300ms ease-in-out;

                            a {
                                text-decoration: none;
                                display: flex;
                                align-items: center;

                                .btn_icon {
                                    span {
                                        color: $text-c1-light;
                                        margin-right: 10px;
                                        font-size: $text-xs;
                                    }
                                }

                                .btn_text {
                                    color: $text-c1-light;
                                    font-size: $text-xs;
                                }
                            }
                        }
                    }

                    a {
                        margin-left: 1.75rem;

                        span {

                            @include text ($text-xs, $text-base, $text-c1-dark);
                        }
                    }
                }
            }
        }
    }

    #myHeader {
        display: none;
    }
  
}

@media only screen and (min-width:1233px) {
    .top_nav {
        display: none;
    }

    #myHeader {
        display: block;
    }
}
section.top {
    background: url(../../img/yellow_top_wave_01.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    .top_wrapper {

        #myHeader {
            .header {
                max-width: 1260px;
                margin: auto;
                display: flex;
                align-items: center;
                height: 100px;

                .logo {
                    a {
                        img {
                            margin-top: 0;
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                nav {
                    margin-left: 170px;

                    a {
                        text-decoration: none;
                        line-height: 80px;
                        margin-right: 50px;

                        span {
                            @include text($text-xs, $text-bold, $text-c1-dark);
                        }

                        &:hover {
                            span {
                                color: $text-c1-primary;
                            }
                        }
                    }
                }

                .contact_channel {
                    margin-left: 50px;
                    margin-right: 0;

                    .contact_inner {
                        display: flex;
                        align-items: center;

                        button {
                            // @include button($text-xs, $text-semibold, $text-c1-light, $bg-c1-primary, $pd-regular, $bd-light-purple, $br-curve, $bg-c1-light, $text-c1-primary);
                            background-color: $bg-c1-primary;
                            padding: 10px 25px;
                            border: none;
                            border-radius: 30px;
                            cursor: pointer;
                            font-weight: $text-semibold;
                            margin-right: 10px;
                            transition: all 300ms ease-in-out;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-decoration: none;

                                .btn_icon {
                                    span {
                                        color: $text-c1-light;
                                        margin-right: 10px;
                                        font-size: $text-xs;
                                    }
                                }

                                .btn_text {
                                    color: $text-c1-light;
                                    font-size: $text-xs;
                                }
                            }

                            &:hover {
                                background-color: $bg-c1-light;
                                border: 1px solid #b61984;

                                a {
                                    span {
                                        color: #b61984;
                                    }
                                }
                            }
                        }

                        //icon social media
                        a {
                            margin-left: 10px;
                            color: $text-c1-dark;

                            &:hover {
                                span {
                                    color: $text-c1-primary;
                                }
                            }
                        }

                    }
                }

            }
        }

        .about {

            background-color: transparent;
            background-image: url(../img/Violet_top_left_wave.png);
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-size: contain;
            padding-bottom: 60px;

            .about_inner {
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .about_left {
                    .first_title {
                        @include text($text-xl, $text-bold, $text-c1-primary);
                    }

                    .second_title {
                        @include text($text-6xl, $text-bold, $text-c1-dark);
                        margin-top: 1rem;
                    }

                }

                .about_right {
                    img {
                        width: 100%;
                    }
                }

            }
        }


    }

}

//------------SECTION HUMAN---------
section.human {
    background: $bg-c2-primary;
    padding: 50px 0 100px 0;
    background-image: url(../img/Wave_White_bottom_right_shape_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    padding-bottom: 20px;

    .container {
        .human_content {
            .row {
                margin-bottom: 30px;

                @for $i from 0 to 4 {
                    .item-#{$i + 1} {
                        animation: fadeIn 2s * ($i +1);
                        transition: all 1s ease;
                    }
                }

                .teacher {
                    .card {
                        background-color: transparent;
                        border: $bd-none;

                        .card_top {
                            border-radius: $br-card-top;

                            img {
                                @include card_top($br-card-top, $width-def, $height-def);
                                opacity: 1;
                                transition: transform 0.5s ease;
                                display: block;
                                cursor: pointer;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                            &.zoom {
                                position: relative;
                                overflow: hidden;
                            }

                        }

                        .card_bottom {
                            @include card_bottom($bg-c1-light, $bd-none, $br-card-bottom, $pd-card, $align-center);

                            span {
                                @include text($text-card-1, $text-bold, $text-c1-primary);
                            }

                            h3 {
                                @include text($text-card-2, $text-bold, $text-c1-dark);
                                margin-bottom: 15px;
                            }

                            p {
                                @include text($text-card-3, $text-base, $text-c1-dark);
                            }
                        }

                        &:hover {
                            box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
                            -webkit-box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
                            -moz-box-shadow: 1px 14px 16px -2px rgba(92, 74, 74, 0.75);
                            transition: all 0.3s ease-in;
                        }
                    }
                }
            }
        }
    }
}

//-------------SUBMIT------------
section.submit {
    background: url(../img/accent_bottom_wave_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .container {
        position: relative;

        .submit_content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            .submit_left {

                img {
                    width: 100%;
                }
            }

            .submit_right {

                .form {
                    @include submit($bg-c1-light, $bd-none, $br-large, $pd-submit);
                    box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);
                    -webkit-box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);
                    -moz-box-shadow: 3px -1px 25px 6px rgba(106, 111, 143, 0.26);

                    .form_title {
                        @media only screen and (max-width:1233px){

                        }
                        span {
                            @include text($text-5xl, $text-bold, $text-c1-dark);
                            display: block;
                            text-align: center;
                        }

                    }

                    .form_input {
                        padding: 15px 0 15px 0;

                        .contact_row {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 1rem;

                            .name {

                                .btn_name {
                                    max-width: 97%;
                                    padding-right: 1rem;
                                    display: flex;
                                    align-items: center;
                                    @include submit($bg-c1-light, $bd-light-gray, $br-input, $pd-card);

                                    span {
                                        color: $text-c1-primary;
                                    }

                                    input {
                                        margin-left: 5px;
                                        border: none;
                                        width: 100%;
                                        padding-right: 5px;
                                        outline: none;
                                    }

                                }
                            }

                            .email {
                                .btn_email {
                                    @include submit($bg-c1-light, $bd-light-gray, $br-input, $pd-card);
                                    max-width: 100%;
                                    margin-left: 5px;
                                    display: flex;
                                    align-items: center;

                                    span {
                                        color: $text-c1-primary;
                                    }

                                    input {
                                        margin-left: 5px;
                                        border: none;
                                        width: 100%;
                                        outline: none;
                                    }
                                }
                            }
                        }

                        .option {
                            @include submit($bg-c1-light, $bd-light-gray, $br-input, $pd-card);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 1rem;

                            span.fa-solid {
                                width: 5%;
                                color: $text-c1-primary;
                            }

                            span.course {
                                width: 95%;

                                select {
                                    margin-left: 5px;
                                    border: none;
                                    outline: none;
                                    width: 100%;

                                    option {
                                        outline: none;
                                    }
                                }
                            }
                        }

                        .message {
                            .contact_message {
                                @include submit($bg-c1-light, $bd-light-gray, $br-input, 10px 20px 10px 20px);
                                display: flex;
                                align-items: center;
                                margin-bottom: 1rem;

                                span {
                                    color: $text-c1-primary;
                                    width: 5%;
                                    margin-bottom: 14rem;
                                }

                                .text {
                                    textarea {
                                        outline: none;
                                        width: 100%;
                                        @include submit($bg-c1-light, none, $br-input, 5px);
                                    }
                                }
                            }
                        }
                    }

                    .btn_contact {
                        max-width: 100% !important;

                        button {
                            @include button($text-base, $text-base, $text-c1-light, $bg-c1-primary, 10px 50px, $bd-none, $br-input, $bg-c1-light, $text-c1-primary);

                            &:hover {
                                border: $bd-light-purple;
                                transition: all 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

//-------------SUBMIT-------------
section.contact {
    // background-color: $bg-c3-primary;
    background: url(../img/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10rem;

    .container {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        .contact_content {
            @for $i from 0 to 4 {
                .info-#{$i + 1} {
                    animation: fadeIn 1s * ($i +1);
                    transition: all 1s ease;
                }
            }

            .info-1 {
                p.menu-title {
                    @include text($text-bottom, $text-bold, $text-c1-light);
                }

                .icon-text {
                    margin-bottom: 0.25rem;

                    span {
                        color: $text-c1-light;
                    }

                    span.info {
                        @include text($text-xs, $text-regular, $text-c1-light);
                    }
                }

                .icon-media {
                    margin-top: 1rem;

                    span {
                        color: $text-c1-light;
                        margin-right: 0.5rem;
                    }
                }
            }

            .info-2 {
                p.menu-title {
                    @include text($text-bottom, $text-bold, $text-c1-light);
                }

                ul.menu-list {
                    text-decoration: none;
                    list-style: none;

                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        line-height: 2;

                        a {
                            @include text($text-xs, $text-regular, $text-c1-light);
                        }
                    }
                }
            }

            .info-3 {
                p.menu-title {
                    @include text($text-bottom, $text-bold, $text-c1-light);
                }

                ul.menu-list {
                    text-decoration: none;
                    list-style: none;

                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        line-height: 2;

                        a {
                            @include text($text-xs, $text-regular, $text-c1-light);
                        }
                    }
                }
            }

            .info-4 {
                p.menu-title {
                    @include text($text-bottom, $text-bold, $text-c1-light);
                    margin-bottom: 2rem;
                }

                .form-contact {
                    .email-btn {
                        margin-bottom: 1rem;

                        span {
                            input {
                                @include submit(transparent, $bd-thin-gray, $br-input, 10px 50px);
                                text-align: center;
                                outline: none;
                                color: $text-c1-light;

                                &::placeholder {
                                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                                    color: $text-c1-light;
                                    opacity: 1;
                                    /* Firefox */
                                }
                            }
                        }
                    }

                    .subscribe-btn {
                        input {
                            @include submit($bg-c1-light, $bd-none, $br-input, 10px 60px);
                            text-align: center;
                            outline: none;
                            @include text($text-base, $text-base, $text-c1-dark);
                        }
                    }
                }
            }
        }
    }
}